css
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#eef4ff;
  color:#111827;
}

.header{
  position:sticky;
  top:0;
  background:white;
  padding:18px;
  display:flex;
  align-items:center;
  gap:15px;
  box-shadow:0 2px 10px rgba(0,0,0,.05);
  z-index:1000;
}

.menu-btn{
  border:none;
  background:none;
  font-size:24px;
}

.main{
  padding:20px;
}

.page{
  display:none;
}

.active-page{
  display:block;
}

.hero-card{
  background:linear-gradient(
    135deg,
    #2563eb,
    #60a5fa
  );
  color:white;
  border-radius:24px;
  padding:25px;
  margin-bottom:20px;
}

.home-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  margin-bottom:20px;
}

.home-card{
  background:white;
  border-radius:20px;
  padding:20px;
  min-height:130px;
  box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.home-card h3{
  color:#2563eb;
  margin-bottom:10px;
}

.card{
  background:white;
  border-radius:20px;
  padding:20px;
  margin-bottom:20px;
  box-shadow:0 3px 10px rgba(0,0,0,.05);
}

.card h2{
  margin-bottom:20px;
  color:#2563eb;
}

input,
textarea{
  width:100%;
  padding:15px;
  border:none;
  background:#f1f5f9;
  border-radius:14px;
  margin-bottom:15px;
}

textarea{
  min-height:120px;
}

.primary-btn{
  width:100%;
  border:none;
  background:#2563eb;
  color:white;
  padding:15px;
  border-radius:14px;
  margin-bottom:15px;
}

.customer-card,
.report-item,
.task-card,
.share-card{
  background:#f8fbff;
  border-radius:18px;
  padding:15px;
  margin-top:15px;
}

.customer-image{
  width:100%;
  border-radius:14px;
  margin-top:10px;
}

.customer-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
}

.customer-top button{
  border:none;
  background:#ef4444;
  color:white;
  padding:8px 12px;
  border-radius:10px;
}

.login-screen{
  position:fixed;
  inset:0;
  background:#2563eb;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:99999;
}

.login-box{
  width:90%;
  max-width:380px;
  background:white;
  padding:30px;
  border-radius:24px;
}

.login-box h2{
  text-align:center;
  color:#2563eb;
  margin-bottom:20px;
}

.sidebar{
  position:fixed;
  top:0;
  left:-250px;
  width:240px;
  height:100%;
  background:#1e3a8a;
  padding:30px 20px;
  transition:.3s;
  z-index:9999;
}

.sidebar.active{
  left:0;
}

.sidebar h1{
  color:white;
  margin-bottom:20px;
}

.sidebar button{
  width:100%;
  border:none;
  background:none;
  color:white;
  text-align:left;
  padding:15px 0;
}

canvas{
  width:100% !important;
  height:250px !important;
}

